{% spaceless %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
</head>

<body>
  {% block body %}
  {% endblock %}
  {% block js %}
  {% endblock %}
</body>

</html>
{% endspaceless %}
