{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div id="container" class="col-md-9">
      <h2 class="col-md-12">Логи</h2>
      <table id="chatlogs" class="table table-striped">
        <tbody>
          {% for message in messages %}
          <tr>
            <td class="col-md-1">{{message.Timestamp.Format("15:04:05")}}</td>
            <td class="nick col-md-2">{% if message.IsHearer %}Слушатель{% else %}{{message.Nick}}{% endif %}</td>
            <td class="text col-md-9">
              {% if message.IsHearer %}
              {{message.Text}}
              {% else %}
              {% autoescape off %}{{message.Text}}{% endautoescape %}
              {% endif %}
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <h2 class="col-md-12">Пользователи</h2>
      <table id="users" class="table table-striped">
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
var addMessage = function(message){
  var table = document.getElementById("chatlogs");
  if(table.rows.length == 20){
    //table.removeChild(messages[19]);
    table.deleteRow(0);
  }
  var row = document.createElement("tr");

  row.innerHTML = '<tr><td class="col-md-1">' + message.Date + '</td><td class="nick col-md-2">' +
  message.Nick + '</td><td class="text col-md-9">' + message.Text + "</td></tr>";

  var tbody = table.children[0];
  tbody.appendChild(row);
}

var setUsers = function(users){
  var table = document.getElementById("users");
  for(var i = table.rows.length;i > 0;--i){
    table.deleteRow(0);
  }
  var tbody = table.getElementsByTagName("tbody")[0];

  for(var i=0; i < users.length; ++i){
    var row = document.createElement("tr");
    row.innerHTML = "<tr><td>" + users[i] + "</td></tr>";
    tbody.appendChild(row);
  }
}

var timer;
var ws = new WebSocket('ws://' + window.location.host + '/ws');

ws.onopen = function(event){
  console.log("Connection opened");
  timer =	setInterval('ws.send("ping");', 5000);
};



ws.onmessage = function(event){
  var data = JSON.parse(event.data);
  if(data.type === "message"){
    addMessage(data.data);
  } else if(data.type === "users"){
    setUsers(data.data)
  }
};


ws.onclose = function(event){
  console.log("Connection closed");
  if(timer !== undefined){
    clearInterval(timer);
  }
};

</script>
{% endblock %}
